body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #315481;
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  min-height: 100%;
  background: white;
}

header {
  padding: 15px 15px 15px 15px;
  position: relative;
  border-bottom: #eee solid 1px;
}

.navbar {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
  min-height: 35px;
  /*margin-bottom: 20px;*/
  border: 1px solid transparent;
  background-color: #eee;
  z-index: 1000;
  border-width: 0 0 1px;
}

.navbar li {
  float: right;
  padding-top: 10px;
  padding-bottom: 10px;
  line-height: 20px;
  border: none;
}

.editUser {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background: none;
  font-size: 1.5em;
  border: none;
  position: relative;
  outline: 0;
  cursor: pointer;
  border-bottom: #eee solid 1px;
}

.editUser a {
  display: inline-block;
  width: 200px;
  text-decoration: none;
  color: black;
}

#login-buttons {
  display: block;
}

a.brand {
  display: block;
  text-decoration: none;
  font-size: 4em;
  font-weight: 600;
  letter-spacing: .2em;
  text-align: center;
  text-indent: .3em;
  text-transform: uppercase;
  color: #305380;
}

form {
  margin-top: 10px;
  margin-bottom: -10px;
  position: relative;
}

.new-participant input {
  box-sizing: border-box;
  padding: 10px 0;
  background: transparent;
  border: none;
  width: 100%;
  padding-right: 80px;
  font-size: 1em;
}

.new-participant input:focus{
  outline: 0;
}

ul {
  margin: 0;
  padding: 0;
  background: white;
}

.participate {
  transition: all 100ms ease;
  display: inline-block;
  float: right;
  width:50px;
  height:50px;
  line-height: 40px;
  vertical-align: baseline;
  text-align: center;
  font-weight: bold;
  background: none;
  font-size: 3em;
  border: none;
  position: relative;
  outline: 0;
  cursor: pointer;

  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  -o-user-select: none;
  user-select: none;
}

.leave-spev {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.leave-spev:hover {
  color: #ff4530;
}

.spev {
  border-bottom: none;
}

.spev-name {
  font-weight: bold;
  font-size: 2.5em;
}

.spev-date {
  display: inline-block;
  font-size: 1.5em;
}

.ruler {
  border-top: #eee solid 1px;
  border-bottom: #eee solid 1px;
  text-align: center;
}

li {
  position: relative;
  list-style: none;
  padding: 15px;
  border-bottom: #eee solid 1px;
}

.participant-name {
  font-weight: bold;
  font-size: 2em;
}

.participant-weight {
  color: #888;
  padding-left: 10px;
  font-size: 1em;
}

.participant-weight-nr {
  display: inline;
  color: tomato;

  font-size: 1.5em;
  font-weight: bold;
}

#spinner { height: 300px }

@media (max-width: 600px) {
  li {
    padding: 12px 15px;
  }

  .search {
    width: 150px;
    clear: both;
  }

  .new-participant input {
    padding-bottom: 5px;
  }
}
