.userEdit-form {
	padding: 0 15px;
	font-size: 1.5em;
	color: #999;
}

.userEdit-form input {
	font-size: 1.4em;
}


.userEdit-form input {
	background: transparent;
	border: none;
}

.userEdit-form input:focus {
	outline: 0;
}

.userEdit-form input[type="number"] {
	text-align: right;
}

.submit-btn {
	text-align: right;
}