span.weight {
  padding: 0 6px;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  line-height: inherit;
  color: #fff;
  float: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background-clip: padding-box;
  margin-right: 2px
}

div.weight-container {
  right: 0;
  bottom: 5px;
  position: absolute;
}

span.weight:after {
  font-size: 0.8rem;
}

span.weight.fivekg {
  background-color: #0d47a1;
}

span.weight.twokg {
  background-color: #1976d2;
}

span.weight.onekg {
  background-color: #1e88e5;
}

@media all and (min-width: 700px) {
  div.weight-container {
    right: 0;
    top: 5px;
    position: absolute;
  }


  span.weight.onekg:after {
    content: " 1kg";
  }

  span.weight.twokg:after {
    content: " 2kg";
  }

  span.weight.fivekg:after {
    content: " 5kg";
  }
}

