<template name="layout">
  <body>
    <div class="row">
      <div class="navbar-fixed">
        <nav>
          <div class="nav-wrapper blue darken-1">
            <div class="col s12">
              <a href="/" class="brand-logo">Muscle</a>
              <a href="#" data-activates="mobile-side-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
              <ul class="right">
                <li>{{> loginButtons align="right"}}</li>
              </ul>
              <ul class="right hide-on-med-and-down">
                {{#if currentUser}}
                  <li><a href="{{pathFor 'userEdit'}}">Edit User</a></li>
                  {{#if currentUser.creator}}
                    <li><a href="{{pathFor 'createSpev'}}">Create Event</a></li>
                  {{/if}}
                {{/if}}
              </ul>
               <ul class="side-nav" id="mobile-side-nav">
                <li><a href="/">Home</a></li>
                {{#if currentUser}}
                  <li><a href="{{pathFor 'userEdit'}}">Edit User</a></li>
                  {{#if currentUser.creator}}
                    <li><a href="{{pathFor 'createSpev'}}">Create Event</a></li>
                  {{/if}}
                {{/if}}
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>

    <div class="container">
      <div class="row">
        {{> yield}}
      </div>
    </div>
  </body>
  <footer class="page-footer blue darken-3">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Made With</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.meteor.com/">Meteor</a></li>
            <li><a class="grey-text text-lighten-3" href="http://materializecss.com">Materialize CSS</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2015 David Bimmler
      <a class="grey-text text-lighten-4 right" href="http://github.com/bimmlerd/mp">Code</a>
      </div>
    </div>
  </footer>
</template>
