<template name="participant">
  <li class="collection-item">
    <h5><span class="flow-text">{{displayName}}</span>
			<!-- <span class="onekg weight secondary-content">{{weights.one}}</span>
			<span class="twokg weight secondary-content">{{weights.two}}</span>
			<span class="fivekg weight secondary-content">{{weights.five}}</span> -->
			<span class="onekg weight secondary-content">{{weights.one}}</span>
			<span class="twokg weight secondary-content">{{weights.two}}</span>
			<span class="fivekg weight secondary-content">{{weights.five}}</span>
		</h5>
	</li>
</template>
