<template name="spevsListEntry">
	<li>
		<div class="card">
      <div class="card-content">
        <span class="card-title blue-text"><h4>{{name}}</h4></span>
        <div class="waves-effect waves-circle waves-dark light-blue btn-floating secondary-content"><i id="join-leave-btn-{{spevId}}" class="mdi-content-{{#if participating}}clear{{else}}add{{/if}}"></i></div>
        <p class="flow-text">{{datestring}} - {{time}}</p>
        <div class="spev-participants">{{> participantsList}}</div>         
      </div>
    </div>
	</li>
</template>
